.tabs {
	margin-top:10px;
padding-top:4px;
margin-left:2px;
margin-right:2px;
list-style:none;
clear:both;
height:24px;
background: white url(/images/admin/tabs/point.png) repeat-x bottom;
}
ul.tabs li{
float:left;
padding:0px 35px 0px 0px;
text-align:center;
height:24px;
background: url(/images/admin/tabs/inactive_right.png) no-repeat right;
}

ul.tabs li.last {
	background: url(/images/admin/tabs/last_inactive.png) no-repeat right;
}

ul.tabs li.last.active {
	background: url(/images/admin/tabs/last_active.png) no-repeat right;
}


ul.tabs li.active{
	background: url(/images/admin/tabs/active_right.png) no-repeat right;	
}

ul.tabs li.first a {
	background:url(/images/admin/tabs/first_inactive.png) no-repeat left;
	padding-left: 35px;
}

ul.tabs li a{
	display:block;
  text-decoration:none;
	color:black;
	font-size:11px;
	background: url(/images/admin/tabs/inactive_left.png) no-repeat left;
	padding-top:8px;
	padding-bottom:5px;
}

ul.tabs li.active a{
	background: url(/images/admin/tabs/active_left.png) no-repeat left;
	margin-left: -35px;
	padding-left: 35px;
}

ul.tabs li.first.active a {
	background:url(/images/admin/tabs/first_active.png) no-repeat left;
	margin-left:0px;
}

.tabs a:hover{
	
}

.tab_content {
padding:10px;
}