<form onsubmit='return false;'>
  <%= render :partial => 'form' %>
  <%= submit_to_remote 'Salvar', 'Salvar',
	:url => {:action => 'update', :id => @folder},
	:update => 'main_tab_content',
	:before => 'loading()' ,
	:complete => "unloading();tree.refreshFolder('#{@folder.parent.id}')" %>
</form>
