<%= error_messages_for 'folder' %>

<!--[form:folder]-->
<p><label for="folder_name">Name</label><br/>
<%= text_field 'folder', 'name'  %></p>

<p><label for="folder_menu_title">Menu Title</label><br/>
<%= text_field 'folder', 'menu_title'  %></p>

<p><label for="folder_description">Description</label><br/>
<%= text_field 'folder', 'description'  %></p>


<!--[eoform:folder]-->

