<li id="folder_<%= folder.id %>">
	<%= link_to_remote image_tag("admin/tree/closed.png") , { 
		:url => {:controller => "folder" ,
		:action => "tree_node",
		:id => folder.id},
		:before => "if (!tree.openFolder('#{folder.id}')){return false;}; loading();",
		:complete => "unloading()"} %>
	<%= link_to_remote folder.name , {
		:update => "editor",
		:url => {:controller => "folder", :action => "editor", :id => folder.id},
		:before => "tree.setSelected(event);loading()",
		:complete => "unloading()"},
		{:oncontextmenu => "return showMenu(event, 'folder_menu')"} %>
</li>