<%= error_messages_for 'resource' %>

<!--[form:page]-->
<p><label for="resource_name">Name</label><br/>
<%= text_field 'resource', 'name'  %></p>

<p><label for="resource_description">Description</label><br/>
<%= text_field 'resource', 'description'  %></p>


<p>
    <label for="resource">Upload your file:</label>
    <%= file_field 'resource', 'uploaded_data' %>
  </p>


<!--[eoform:page]-->

