<div class="tabs">
    <ul>
        <li style="margin-left: 1px" id="main_tab" class="tabHeaderActive"><a href="#" onClick="tab.toggleTab('main_tab')"><span>Geral</span></a></li>
        <li id="media_tab"><a href="javascript:void(0)" onClick="tab.toggleTab('media_tab')" ><span>Media</span></a></li>
    </ul>
    </div>
    <div id="tabscontent">
        <div id="main_tab_content" class="tabContent" style="">
				<div>
					<%if @resource.id then%>
						<%= render :partial => 'edit' %>
					<% else %>
						<%= render :partial => 'new'%>
					<% end %>
				</div>
        </div>

        <div id="media_tab_content" class="tabContent" style="display:none;">
            <br /<div></div>
        </div>

        <div id="pages_tab_content" class="tabContent" style="display:none;">
            <br /><div></div>
        </div>
    </div>
</div>