<div class="tabs">
    <ul>
        <li style="margin-left: 1px" id="main_tab" class="tabHeaderActive"><a href="#" onClick="tab.toggleTab('main_tab')"><span>Geral</span></a></li>
        <li id="resources_tab"><a href="javascript:void(0)" onClick="tab.toggleTab('resources_tab')" ><span>Resources</span></a></li>
    </ul>
    </div>
    <div id="tabscontent">
        <div id="main_tab_content" class="tabContent" style="">
				<div>
					<%if @page.id then%>
						<%# render :partial => 'edit' %>
					<% else %>
						<%# render :partial => 'new'%>
					<% end %>
				</div>
        </div>

        <div id="resources_tab_content" class="tabContent" style="display:none;">
            <br /><div><%#= render :partial => 'resources' %></div>
        </div>
    </div>
</div>