<div class="tabs">
    <ul>
        <li id="main_tab" class="tabHeaderActive tab_header">Geral</li>
        <li id="contents_tab" class="tab_header">Contents</li>
        <li id="resources_tab" class="tab_header" >Resources</li>
    </ul>
    </div>
    <div id="tabscontent">
        <div id="main_tab_content" class="tab_content" style="">
					<%if @content.id then%>
						<%= render :partial => 'edit' %>
					<% else %>
						<%= render :partial => 'new'%>
					<% end %>
        </div>

        <div id="resources_tab_content" class="tab_content" style="display:none;">
            <br /><div><%= render :partial => 'resources' %></div>
        </div>
				<div id="contents_tab_content" class="tab_content" style="display:none;">
            <br /><div><%= render :partial => 'contents' %></div>
        </div>
    </div>
</div>