<!--[form:page]-->
<p><label for="content_name">Name</label><br/>
<%= text_field 'content', 'name'  %></p>

<p><label for="content_description">Description</label><br/>
<%= text_field 'content', 'description'  %></p>

<%= text_area 'content', 'html' , :id => 'content_html', :style => 'display:none;' %>

<%= submit_tag "Salvar", :name => nil %>
<!--[eoform:page]-->

