.skin0{
position:absolute;
width:165px;
border:2px solid black;
background-color:menu;
font-family:Verdana;
line-height:20px;
cursor:default;
font-size:14px;
z-index:100;
visibility:hidden;
}

.menuitems{
padding-left:10px;
padding-right:10px;
}

.gray_border{
	border-style: solid;
	border-color: rgb(136, 136, 136);
	border-width:1px;
}

.fleft{
	float:left;
}

.handle{
	width:200px;
	vertical-align:middle;
	float:left;
}
.sortable li{
list-style-type: none;
}
.sortable div:hover{
list-style-type: none;
background-color:#E4E4E4;
}
