<%= error_messages_for 'resource_folder' %>

<!--[form:resource_folder]-->
<p><label for="resource_folder_name">Name</label><br/>
<%= text_field 'resource_folder', 'name'  %></p>

<p><label for="resource_folder_description">Description</label><br/>
<%= text_field 'resource_folder', 'description'  %></p>


<!--[eoform:resource_folder]-->
