<% if !contents.empty? %>
	<ul>
	  <% for content in contents %>
		<% if !content.	menu.blank? %>
		<li><a href="#"><%= content.menu %></a>
			<%= render :partial => 'sub_menu', :locals => {:contents => content.children} -%>
		</li>
		<% end -%>
	  <% end -%>
	</ul>
<% end -%>