<% for @menu_item in getHomepage(@content).children%>
	<% if !@menu_item.menu.blank? %>
	<li><%= link_to @menu_item.menu, site_path(@menu_item.url) %>
		<%= render_template 'sub_menu' %>
	</li>
	<% end -%>
<% end -%>