<% if !@menu_item.children.empty? %>
	<ul>
	  <% for @menu_item in @menu_item.children %>
		<% if !@menu_item.menu.blank? %>
		<li><%= link_to @menu_item.menu, site_path(@menu_item) %>
			<%= render_template 'sub_menu'-%>
		</li>
		<% end -%>
	  <% end -%>
	</ul>
<% end -%>