<div class="tabs">
    <ul>
        <li id="main_tab" class="tabHeaderActive tab_header">Geral</li>
    </ul>
    </div>
    <div id="tabscontent">
        <div id="main_tab_content" class="tab_content" style="">
					<%if @resource.id then%>
						<%= render :partial => 'edit' %>
					<% else %>
						<%= render :partial => 'new'%>
					<% end %>
        </div>

    </div>
</div>