<div class="tabs">
    <ul>
        <li id="main_tab" class="tabHeaderActive tab_header">Geral</li>
        <li id="main_tab" class="tab_header">q<%= link_to "refresh", edit_admin_resource_path(@resource), :remote => true %></li>
    </ul>
    </div>
    <div id="tabscontent">
        <div id="main_tab_content" class="tab_content" style="">
					<%if @resource.id then%>
						<%= render :partial => 'edit' %>
					<% else %>
						<%= render :partial => 'new'%>
					<% end %>
        </div>

    </div>
</div>