<div id="sidebar" class="right">

<%#= Dir.glob("#{Rails.root.to_s}/app/views/site/templates/default/elements/*.*").first.replace(/.*\//) %><br>
<%#= Dir.new("#{Rails.root.to_s}/app/views/site/templates/default/elements/").entries.last %><br>
<%# Dir.new("#{Rails.root.to_s}/app/views/site/templates/default/elements/").each do |file| %>
<%# unless ['.', '..'].include? file -%>
<%#=     file.gsub(/.html.erb/,"").sub(/_/,"") %>
<%# end -%>
<%# end -%>


</div>