<!--[form:page]-->
<p><label for="folder_name">Name</label><br/>
<%= text_field 'folder', 'name'  %></p>

<p><label for="folder_description">Description</label><br/>
<%= text_field 'folder', 'description'  %></p>


<%= submit_tag "Salvar", :name => nil %>
<!--[eoform:page]-->

